<!doctype html>
<html>

<head>
    <title>NOSTRadamus</title>
</head>

{% extends "base.html" %}

{% block content %}
<link rel="icon" href="{{ url_for('static', filename='favicon_black.png') }}" type="image/x-icon">
<img src="{{ url_for('static', filename='favicon_white.png') }}" alt="Favicon" style="width: 150px; height: 150px;">
<h3 class="title">NOSTRadamus</h3>

<div class="interactive">
    <div id="spinner" style="display: none;">
        <div class="spinner-container">
            <div class="spinner"></div>
        </div>
    </div>
    <div id="log"></div>
    <br>
    <div class="box">
        <form id="form">
            <label for="text">Username: </label>
            <input type="text" id="messageID" autofocus>
            <label for="text">Input: </label>
            <input type="text" id="text" autofocus>
            <input id="SendButton" type="submit" value="Send">
        </form>
    </div>

    <script src="{{ url_for('static', filename='nostr.js') }}"></script>
    <script src="{{ url_for('static', filename='crypto.js') }}"></script>
    <script>
        function checkLogContent() {
            var log = document.getElementById('log');
            var spinner = document.getElementById('spinner');
            if (!log.textContent.trim()) {
                spinner.style.display = 'block';
            } else {
                spinner.style.display = 'none';
            }
        }
        setInterval(checkLogContent, 1000);
    </script>
</div>
{% endblock %}