<!doctype html>
<html>

<style>
    .clicked {
        outline: 1px solid rgb(255, 0, 0);
    }


    h1 {
        color: #0390fc;
    }
</style>

<head>
    <title>NoOSTRadamus</title>
</head>

{% extends "base.html" %}

{% block content %}
<h3 class="title">Chat</h3>

<div class="interactive">
    <h1>Frontend</h1>
    <div id="log"></div>
    <br>
    <div class="box">
        <form id="form">
            <label for="text">Username: </label>
            <input type="text" id="messageID" autofocus>
            <label for="text">Input: </label>
            <input type="text" id="text" autofocus>
            <input type="submit" value="Send">
        </form>
    </div>


    <script src="{{ url_for('static', filename='nostr.js') }}"></script>
    <script src="{{ url_for('static', filename='crypto.js') }}"></script>




    <br></br>
    <button onclick="getRandomJoke()" onmousedown="this.classList.add('clicked')"
        onmouseup="this.classList.remove('clicked')"
        style="font-family: 'EB Garamond', serif; background-color: rgb(255, 255, 255); border: 1px solid black;">
        Don't click me!
    </button>
    <p id="joke-placeholder"></p>
    <script>
        function getRandomJoke() {
            fetch('/random_joke')
                .then(response => response.text())
                .then(joke => document.getElementById('joke-placeholder').innerHTML = joke);
        }
    </script>

</div>
{% endblock %}